.block.block_ned_custom_menu {
    padding: 0 !important;
}
.block.block_ned_custom_menu .block-controls {
    position: relative;
    margin-top: -20px;
}
.block.block_ned_custom_menu .block-controls .block-control-actions.commands {
    justify-content: start;
    padding-left: 5px;
}

.block.block_ned_custom_menu .fa.fa-th-list {
    display: none;
}
.block.block_ned_custom_menu .card-title .format-title {
    min-height: 35px;
    padding: 5px;
    text-align: center;
}
.block.block_ned_custom_menu .footer:empty {
    display: none;
}
