/* Base Styles */
#nedcmenu,
#nedcmenu ul,
#nedcmenu li,
#nedcmenu a {
    border: 0;
    font-size: 1em;
    font-weight: normal;
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0 -5px;
    text-decoration: none;
}
#nedcmenu a {
    line-height: 1.3;
}
#nedcmenu ul li div {
    padding: 0 16px;
}
/* Primary options */
#nedcmenu > ul > li.current > div > div > a {
    color: #FFF;
}

#nedcmenu > ul > li > div > div > a {
    border-top: none;
    color: #333;
    font-size: 1.2em
}
#nedcmenu > ul > li > div > div > a > span {
    display: block;
    padding: 12px 10px;
}
#nedcmenu > ul > li > div > div > a:hover {
    text-decoration: none;
}

#nedcmenu > ul > li > div > div {
    display: inline-flex;
    max-width: 86%;
    padding: 5px 5px 5px 10px;
    vertical-align: top;
}

#nedcmenu  li.current {
    background-color: #7caafe;
}

#nedcmenu  li.current.has-sub {
    background: none;
    border-bottom: none;
}
#nedcmenu  li.current.has-sub div a {
    color: #fff;
}
#nedcmenu  li.current.has-sub div {
    background-color: #7caafe;
}
#nedcmenu  li .optionbullet {
    padding: 15px 10px;
}
#nedcmenu  li .hideBulletOption {
    background: none !important;
    padding: 8px 2px;
}
#nedcmenu  li.has-sub i {
    font-size: 18px;
    color: rgb(153, 153, 153);
}

#nedcmenu  li.has-sub.current i,
#nedcmenu  li.hasnot-sub.current i {
    color: #fff;
}

#nedcmenu  li.has-sub.current .optionbullet {
    background: url([[pix:block_ned_custom_menu|open_white]]) 0px 5px no-repeat;
    background-size: 19px;
}

#nedcmenu  li.has-sub .optionbullet,
#nedcmenu  li.has-sub .acc-menu-closed {
    background: url([[pix:block_ned_custom_menu|closed]]) 0px 5px no-repeat;
    background-size: 19px;
}

#nedcmenu  li.has-sub .acc-menu-open {
    background: url([[pix:block_ned_custom_menu|open]]) 0px 5px no-repeat;
    background-size: 19px;
}

#nedcmenu  li.hasnot-sub .optionbullet {
    background: url([[pix:block_ned_custom_menu|single]]) 0px 5px no-repeat;
    background-size: 19px;
}

#nedcmenu ul ul {
    display: none;
    padding: 0 5px;
    border-top: 1px solid #e3e3e3;
    margin: 0;
    background: #fff;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

#nedcmenu ul ul.active{
    display: block;
    margin: 0;
    padding: 0 5px;
}

#nedcmenu ul ul li {
    border-top: none;
    padding: 0 38px;
    border-bottom: 1px solid #e3e3e3;
}

#nedcmenu ul ul a {
    color: #676767;
    display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 6px 10px 6px 25px;
}
#nedcmenu ul ul a:before {
    color: #999;
    content: '\f0c8';
    font-family: fontawesome;
    font-size: 8px;
    left: 10px;
    position: absolute;
    top: 10px;
}

#nedcmenu ul ul li.current a,
#nedcmenu ul ul li.current a:before {
    color: #FFF;
}

#nedcmenu ul ul a:hover {
    color: #000;
}
li.root {
    font-size: 18px !important;
    padding: 3px !important;
}
#nedcmenu li.has-sub {
    border-bottom: 1px solid #e3e3e3;
}
.block_ned_custom_menu .header {
   border-bottom: 1px solid #e3e3e3;
   padding-bottom: 6px;
}
.block_ned_custom_menu {
    padding: 6px 0 0px 0 !important;
}

.block_ned_custom_menu .content {
    padding: 0px 14px !important;
}
